<h1>Reset password</h1>

<p>Hi <b><%= @user.name %></b> you can update your password with the following form.</p>

<%= form_for @user, url: password_reset_path(params[:id]) do |f| %>
  <% if @user.errors.any? %>
    <div class="text-danger">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.text_field :password, class: "form-control", type: "password", required: true, placeholder: "Password" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation, class: "form-control", type: "password", required: true, placeholder: "Password confirmation" %>
  </div>

  <button type="submit" class="btn btn-primary">Update password</button>
<% end %>
